@{
    var githubLink ="https://github.com/onrtsdmr";
    var linkedinLink ="https://linkedin.com/in/onrtsdmr";
    var twitterLink ="https://twitter.com/onurtasdemir38";
    var instagramLink ="https://instagram.com/onrtsdmr38";
    var mediumLink ="https://medium.com/@onurtasdemir";
}

<footer class="py-3 bg-dark text-white text-center">
    <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">
            <span class="d-inline-flex ">
                Develop By
                Onur TAŞDEMİR! © Copyright 2020 Her Hakkı Saklıdır.
            </span>           
        </div>
        <div class="p-2 flex-fill bd-highlight">
            <span class="d-inline-flex">
                Shop App | 2020
            </span>
        </div>
        <div class="p-2 flex-fill bd-highlight">
            <a href="@githubLink" target="_blank"><i class="fab fa-github fa-2x badge-dark"></i></a>
            <a href="@linkedinLink" target="_blank"><i class="fab fa-linkedin fa-2x badge-dark"></i></a>
            <a href="@twitterLink" target="_blank"><i class="fab fa-twitter fa-2x badge-dark"></i></a>
            <a href="@instagramLink" target="_blank"><i class="fab fa-instagram fa-2x badge-dark"></i></a>
            <a href="@mediumLink" target="_blank"><i class="fab fa-medium fa-2x badge-dark"></i></a>
        </div>
    </div>
</footer>


<!-- 

<a class="fab fa-github badge-dark" href="https://github.com/onrtsdmr" target="blank"></a>
    <a class="fab fa-linkedin badge-dark" href="https://github.com/onrtsdmr" target="blank"></a>
    <span class="d-inline-flex p-2 ">
        Shop App | 2020
    </span>

-->