@model Product

@{
    ViewBag.getID = Model.ProductId;
}

@* Burada asp-for içine modeldeki prop isimlerini vermek gerekiyor aynı olmalı !!*@

<div class="card pr-4 shadow">

    <div class="container m-4 p-4">
        <img src="~/img/logo.png" alt="" class="w-25 p-3">
        <form method="POST">

            <input type="hidden" asp-for="ProductId" class="form-control" value="@Model.ProductId">
            <input type="hidden" asp-for="IsApproved" class="form-control" value="@Model.IsApproved">

            <div class="form-group">
                <label for="Name">Name</label>
                <input asp-for="Name" class="form-control" value="@Model.Name">
            </div>
            <div class="form-group">
                <label for="Price">Price</label>
                <input asp-for="Price" class="form-control" value="@Model.Price">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea asp-for="Description" class="form-control" value="@Model.Description"></textarea>
            </div>
            <div class="form-group">
                <label for="ImageUrl">Image URL</label>
                <input asp-for="ImageUrl" class="form-control" value="@Model.ImageUrl">
            </div>
            @* <div class="form-group">
                <label for="CategoryId">Category</label>
                <select asp-for="CategoryId" class="form-control">
                    <option selected disabled>Seçiniz</option>
                    @foreach (var item in @ViewBag.Categories)
                    {
                        <option value="@item.CategoryId">@item.Name</option>
                    }
                </select>
            </div> *@
            <button class="btn btn-success my-2 my-sm-0" type="submit">Update</button>
        </form>
    </div>
</div>